.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2b3a42;
    height: 4.5em;
    transition: all .25s;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.navigation__dark-mood {
    background: #101619;
}
.navigation__logo {
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: .5px;
}
.navigation__items {
    display: flex;
    align-items: center;
}
.navigation__item {
    cursor: pointer;
    align-items: center;
    color: #fff;
    display: inline-flex;
    font-size: 14px;
    letter-spacing: .5px;
    margin-right: 18px;
    padding-bottom: .1em;
    position: relative;
    text-transform: uppercase;
    transition: all .25s;
}
.navigation__item:hover {
    color: #8dd6f9;
}

.navigation__item--active:after {
    background: #8dd6f9;
    content: "";
    height: 3.5px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
}
.navigation__item--icon {
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    padding-bottom: 0;
}
.navigation a {
    text-decoration: none;
    color: #f9f9f9;
}